<!DOCTYPE html>
<html>
<head>
	<title>MapIf - Où sont les IFs ?</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/libs/bootstrap-3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/libs/bootstrap-material-design/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" type="text/css" href="../static/libs/bootstrap-material-design/css/ripples.min.css">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:void(0)">Map-IF</a>
			</div>
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="javascript:void(0)">Carte</a></li>
					<li><a href="javascript:void(0)">Liste</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:void(0)"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
					<li><a href="javascript:void(0)"><span class="glyphicon glyphicon-log-in"></span> S'inscrire</a></li>
					<li><a href="javascript:void(0)">Profil</a></li>
					<li><a href="javascript:void(0)"><span class="glyphicon glyphicon-user"></span> Deconnexion</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="page-content">
		<div id="mapid"></div>
	</div>
<!-- 	<div id="main-content">
</div> -->


<!-- Javascript Libs -->
<script type="text/javascript" src="../static/libs/jquery-2.2.3/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="../static/libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/libs/bootstrap-material-design/js/material.min.js"></script>
<script type="text/javascript" src="../static/libs/bootstrap-material-design/js/ripples.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<!-- Personnal -->
<script type="text/javascript" src="../static/js/main.js"></script>


</body>
</html>