<!DOCTYPE html>
<html>
<head>
	<title>MapIf - Où sont les IFs ?</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/libs/bootstrap-3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/libs/bootstrap-material-design/bootstrap-material-design.min.css">
	<link rel="stylesheet" type="text/css" href="../static/libs/bootstrap-material-design/ripples.min.css">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
	
	
	<div id="mapid"></div>



	<!-- Javascript Libs -->
	<script type="text/javascript" src="../static/libs/jquery-2.2.3/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="../static/libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/libs/bootstrap-material-design/js/material.min.js"></script>
	<script type="text/javascript" src="../static/libs/bootstrap-material-design/js/ripples.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

	<!-- Personnal -->
	<script type="text/javascript" src="../static/js/main.js"></script>


</body>
</html>