<table style="width: 100%">
    <tr>
        <!-- mail header in the first row -->
        <td style="text-align: center;">
            <img src="https://mapif-insa.rhcloud.com/static/favicon.png" style="width:64px"></img>
            <p style="text-decoration: underline;">Message automatique MapIf</p>
        </td>
    </tr>
    <tr>
        <!-- mail body in the second row -->
        <td>
            <br/>
                [[email_html_body]]
            <br/>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p><a href="mailto:team.mapif@gmail.com">Contact</a> - <a href="https://mapif-insa.rhcloud.com">MapIf</a> - <a href="https://github.com/LoicTouzard/MapIf">MapIf sur Github</a></p>    
        </td>
    </tr>
</table>