html,
body,
#mapid,
#page-content {
	display: block;
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
}

#mapid {
	background: #58B;
}

#page-content{
	padding-top: 50px;
}

@media (min-width:1200px) {
	#page-content{
		padding-top: 60px;
	}
}

.navbar{
	margin-bottom: 0;
	z-index: 1010;
	width: 100%;
	opacity: 0.9;
	position: absolute;
}