#===============================================================================
#  Flask Application configuration
#===============================================================================
[APP]
#
# Enable/Disable Flask and app debugging
#
debug= # (true|false)
#
# Locale used to configure python
#
locale= # ex: fr_FR.UTF-8 for Linux or fra_fra for Windows
#
# Secret key used by Flask
#
secret_key= # something secret
#
#===============================================================================
#  Google ReCaptcha configuration
#===============================================================================
[RECAPTCHA]
#
#   Google API's secret (https://www.google.com/recaptcha/admin#list)
#
recaptcha_secret_key= # google API's secret
#
#===============================================================================
#  Database configuration
#===============================================================================
[DB]
#
# Database name
#
db_name= # ex: mapif
#
# Database engine (one of {'postgre', 'sqlite'})
#
engine= # ex: postgre
#
# if POSTGRE configuration
#
postgre_user= # ex: dummy
postgre_pass= # ex: 123456 - this is a bad idea
postgre_host= # your postgre host
#
#===============================================================================
#   Email API configuration 
#===============================================================================
[EMAILS]
#
# Elastic Mail API Key
#
elasticmail_apikey= # necessary for sending emails
#
#===============================================================================
#  Notification
#===============================================================================
[NOTIFICATION]
#
# Slack webhook
#
slack_webhook= # your slack webhook here
#