<!DOCTYPE html>
<html lang="fr">
<head>
	<title>MapIF</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block css %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap-3.3.6/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap-material-design/css/bootstrap-material-design.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap-material-design/css/ripples.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/leaflet/leaflet.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/leaflet/MarkerCluster.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/leaflet/MarkerCluster.Default.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/snackbar2/snackbar.css') }}"></link>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

	<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

	{% endblock %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
	{% include 'navbar.html' with context %}

	<div id="page-content" class="container-fluid">
		<div id="page-wrapper">
			{% block body %}
			{% endblock %}
		</div>
	</div>

	<!-- Javascript Libs -->
	<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-2.2.3/jquery-2.2.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap-3.3.6/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap-material-design/js/material.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap-material-design/js/ripples.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/leaflet/leaflet.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/leaflet/leaflet.markercluster.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/js-cookie/js-cookie.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/snackbar2/snackbar.js') }}"></script>

	{% block data_script %}
		{# to set data from python into javascript, before the scripts run #}
	{% endblock %}

	<script type="text/javascript" src="{{ url_for('static', filename='js/modules/UtilsModule.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/modules/FormModule.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/modules/LeftPanelModule.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/modules/MapModule.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/modules/AjaxModule.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/modules/PlaceSearchModule.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/modules/SignInUpModule.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/modules/ProfileModule.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
	{% block page_script %}
	{% endblock %}
	<script type="text/javascript">
		// Load configuration script and trigger page scripts
		{% if session.user is defined %}
		var connected = true;
		{% else %}
		var connected = false;
		{% endif %}
		SETTINGS = {};
		$(function(){			
			$.getJSON("{{ url_for('static', filename='settings.json') }}",function(data){
				SETTINGS = data;
				SETTINGS.GEOPOSITIONS = {
					'INSALYON': new L.LatLng(45.7832543, 4.8780048),
					'WORLD_SOUTHWEST': new L.LatLng(-85, -180),
					'WORLD_NORTHEAST': new L.LatLng(85, 180)
				},
				$(document).trigger("settings-loaded");
			});
		});
	</script>
</body>
</html>
