<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Map-IF</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block css %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap-3.3.6/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap-material-design/css/bootstrap-material-design.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap-material-design/css/ripples.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/leaflet/leaflet.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
	{% endblock %}

</head>
<body>
	{% block body %}
	<nav class="navbar navbar-inverse noselect">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:void(0)">Map-IF</a>
			</div>
			<div class="navbar-collapse collapse navbar-inverse-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="javascript:void(0)">Carte</a></li>
					<li><a href="javascript:void(0)">Liste</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if not session.user %}
					<li><a href="javascript:void(0)" data-toggle="modal" data-target="#inscriptionModal"><!-- <span class="glyphicon glyphicon-log-in"></span> --> S'inscrire</a></li>
					<li><a href="javascript:void(0)" data-toggle="modal" data-target="#connexionModal"><!-- <span class="glyphicon glyphicon-log-in"></span> --> Connexion</a></li>
					{% else %}
					<li><a href="javascript:void(0)"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
					<li><a href="{{ url_for('logout') }}">Deconnexion</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div id="page-content" class="container-fluid">
		<div id="page-wrapper">
			<div id="left-panel" class="closePanel">
				<div id="left-panel-content">
					<div id="left-panel-form">
						<h4>Trouver un lieu</h4>
						<div class="form-group label-floating">
							<label class="control-label" for="addr-search-input-city">Ville</label>
							<input class="form-control" id="addr-search-input-city" type="text">
						</div>
						<div class="form-group label-floating">
							<label class="control-label" for="addr-search-input-country">Pays</label>
							<input class="form-control" id="addr-search-input-country" type="text">
						</div>
						<a href="#" id="addr-search-submit" class="fab btn btn-default btn-fab"><i class="material-icons">search</i></a>
					</div>
					<div id="left-panel-result">
						<div id="search-results"></div>
					</div>
				</div>
				<div class="widget-pane-toggle-button-container"><button type="button" class="btn btn-raised btn-xs" data-toggle="tooltip" data-placement="right" title="&Eacute;tendre le panneau latéral" data-original-title="Tooltip on right"><span class="glyphicon glyphicon-triangle-right"></span></button> </div>
			</div>
			<div id="mymap"></div>
		</div>
	</div>
	{% endblock %}
	<!-- connexion modal -->
	<div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="connexion">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<form id="form-connexion">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="connexion">Connexion</h4>
					</div>
					<div class="modal-body">
						<div class="form-group label-floating">
							<label for="form-connexion-input-username" class="control-label">E-mail</label>
							<input class="form-control" id="form-connexion-input-username" name="email" required="required" type="text">
							<span class="help-block">Bon si vous êtes pas trop bête vous vous en souvenez...</span>
						</div>

						<div class="form-group label-floating">
							<label for="form-connexion-input-password" class="control-label">Mot de passe</label>
							<input class="form-control" id="form-connexion-input-password" type="password" name="password" required="required">
							<span class="help-block">Si vous avez oublié votre mot de passe veuillez <abbr title="Oui, j'ai la flemme de dev un truc comme ça...">ne pas en redemander un</abbr></span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						<button type="submit" class="btn btn-primary">Se connecter</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- inscription modal -->
	<div class="modal fade" id="inscriptionModal" tabindex="-1" role="dialog" aria-labelledby="inscription">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form id="form-inscription">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="inscription">Inscription</h4>
					</div>
					<div class="modal-body">
						<div class="form-group label-floating">
							<label for="form-inscription-input-firstname" class="control-label">Prénom</label>
							<input class="form-control" id="form-inscription-input-firstname" name="firstname" required="required" type="text">
							<span class="help-block">Vous avez bien un nom ? non ?</span>
						</div>
						<div class="form-group label-floating">
							<label for="form-inscription-input-lastname" class="control-label">Nom</label>
							<input class="form-control" id="form-inscription-input-lastname" name="lastname" required="required" type="text">
							<span class="help-block">C'est bon, c'est bon, je demanderai pas le téléphone...</span>
						</div>
						<div class="form-group label-floating">
							<label for="form-inscription-input-email" class="control-label">Email</label>
							<input class="form-control" id="form-inscription-input-email" name="email" required="required" type="email">
							<span class="help-block">Au fait on a un sponsor avec quelques sites peu recommandables, ça vous dérange pas ? Je préfère prévenir hein...</span>
						</div>
						<div class="form-group label-floating">
							<label for="form-inscription-input-password1" class="control-label">Mot de passe</label>
							<input class="form-control" id="form-inscription-input-password1" name="password1" required="required" type="password">
							<span class="help-block">Un mot de passe c'est important !</span>
						</div>
						<div class="form-group label-floating">
							<label for="form-inscription-input-password2" class="control-label">Répetez le mot de passe</label>
							<input class="form-control" id="form-inscription-input-password2" name="password2" required="required" type="password">
							<span class="help-block">Mais s'en rappeler c'est mieux !</span>
						</div>
						<div id="p3-block" class="form-group label-floating">
							<label for="form-inscription-input-password3" class="control-label">Répetez encore le mot de passe</label>
							<input class="form-control" id="form-inscription-input-password3" type="password">
							<span class="help-block">On est jamais trop prudent !</span>
						</div>
						<div id="p3-msg" class="alert alert-dismissible alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Ouaiiiiiis !</strong> Bon par contre ça servait à rien ... Merci quand même !
						</div>
						<div class="form-group">
							<label for="form-inscription-input-promo" class="control-label">Année <del>d'obtention du diplôme</del> de promo</label>
							<select class="form-control" id="form-inscription-input-promo" name="promo" required="required">
							</select>
							<span class="help-block">La fameuse 6IF... !</span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						<button type="submit" class="btn btn-primary">S'inscrire</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% block scripts %}
	<!-- Javascript Libs -->
	<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-2.2.3/jquery-2.2.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap-3.3.6/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap-material-design/js/material.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap-material-design/js/ripples.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='libs/leaflet/leaflet.js') }}"></script>

	<!-- Personnal -->
	<script type="text/javascript">
		//javascript data
		var locations = [];
		{% for lu in locations %}
		locations.push({
			location:{
				lat:{{ lu.location.lat }},
				lon:{{ lu.location.lon }},
				city:"{{ lu.location.city }}",
				country:"{{ lu.location.country }}"
			},
			users:[
			{% for u in lu.users %}
				{
					firstname:"{{ u.firstname }}",
					lastname:"{{ u.lastname }}"{% if not loop.last %},{% endif %}
				}
			{% endfor %}
			]
		});
		{% endfor %}
		console.log(locations);
		/*
		var users = [];
		{% for user in users %}
		console.log("{{ user }}");
		{% if user.location.data %}
		users.push({
			id: "{{ user.user.id }}",
			firstname: "{{ user.user.firstname }}",
			lastname: "{{ user.user.lastname }}",
			promo: "{{ user.user.promo }}",
			lat: "{{ user.location.data.lat }}",
			lon: "{{ user.location.data.lon }}"
		});
		{% endif %}
		{% endfor %}
		console.log(users);
		*/
		//cant "var connected = {{ session.user is defined }};" Because python and javascript boolean are different : "False" and "false"
		{% if session.user is defined %}
		var connected = true;
		{% else %}
		var connected = false;
		{% endif %}
		console.log("connected : "+connected)
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	{% endblock %}
</body>
</html>