{% extends 'layout.html' %}

{% block body %}
    {% if reset_form %}
        {% if error %}
            {{ error }}
        {% endif %}
        <form action="password-reset?token={{ request.args.token }}&email={{ request.args.email }}" method="post">
            <div class="form-group label-floating">
                <label for="form-reset-pwd-input-password1" class="control-label">Mot de passe <small>(Au moins 6 caractères)</small></label>
                <input class="form-control" id="form-reset-pwd-input-password1" name="password1" required="required" type="password" pattern=".{6,}">
                <span class="help-block">Un mot de passe dont on se souvient, c'est important !</span>
            </div>
            <div class="form-group label-floating">
                <label for="form-reset-pwd-input-password2" class="control-label">Répetez le mot de passe</label>
                <input class="form-control" id="form-reset-pwd-input-password2" name="password2" required="required" type="password" pattern=".{6,}">
                <span class="help-block">Cette fois on va essayer de s'en souvenir hein.</span>
            </div>
            <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
        </form>
    {% else %}
        <p>Okay, ton mot de passe a été mis à jour. Reste plus qu'à te connecter !</p>
        <p>Et la prochaine fois, ne l'oublie pas...</p>
    {% endif %}
{% endblock %}
