{% extends 'emails/email_layout_simple.html' %}
{% block subheader %}<h2 style="margin-bottom:10px;color:#BDBDBD;">Réinitialisation de mot de passe</h2>{% endblock %}

{% block header_introduction %}{% endblock %}

{% block email_body %}
<tr>
  <td>
    <h3>Salut {{ firstname }},</h3>
    <div>Voici un <a href="{{ url_for('password_reset_page', token=token, email=email, _external=True) }}">petit lien</a> pour réinitialiser ton mot de passe.<br>Ce lien expirera dans 10 minutes et est à utilisation unique.<br>Si tu ne l'as pas demandé ton mot de passe reste inchangé et tu peux ignorer ce message.</div>
  </td>
</tr>
{% endblock %}