{% extends 'emails/email_layout.html' %}
{# This template is fine but can't be sent for  the moment, it contains too much caracters #}
{% block subheader %}<h2 style="text-align:center;font-weight:normal;font-size:23px;margin-bottom:10px;color:#BDBDBD;line-height:135%;">Réinitialisation de mot de passe</h2>{% endblock %}

{% block header_introduction %}{% endblock %}

{% block email_body %}
<tr>
  <td valign="top">
    <h3 style="color:#5F5F5F;line-height:125%;font-size:20px;font-weight:normal;margin-top:0;margin-bottom:3px;">Salut {{ firstname }},</h3>
    <div style="text-align:left;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">Alors comme ça tu as oublié ton mot de passe hein ? ... <br/>Bravo.<br>Bon c'est pas bien grave, voici un petit lien pour que tu puisses en saisir un nouveau.</div>
  </td>
</tr>
<tr>
  <td style="padding-top:0;" align="center" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" width="50%" style="background-color: #3F51B5;">
      <tr>
        <td align="center" valign="middle" class="buttonContent" style="padding:15px;">
          <a style="color:#FFFFFF;text-decoration:none;font-size:20px;line-height:135%;" href="{{ reset_link }}" target="_blank">Petit lien</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td valign="top" bgcolor="#F8F8F8" style="font-size:15px;margin-bottom:0;margin-top:3px;color:#5F5F5F;line-height:135%;">
    <div style="text-align:center;">Attention ce lien expirera dans 10 minutes, et tu ne pourras changer ton mot de passe qu'une seule fois avec.</div>
    <div style="font-size:15px;">Si tu n'as pas demandé cet email, quelqu'un a effectué une demande de nouveau mot de passe avec ton addresse email. Ton mot de passe reste inchangé et tu peux ignorer ce message.</div>
  </td>
</tr>
{% endblock %}