<!-- About modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="about">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="about">À propos de MapIf ...</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<h4>MapIf <small>Version <span class="version">X.X.X</span> - <a target="_blank" href="https://github.com/LoicTouzard/MapIf/releases">Voir les nouveautés !</a></small></h4>
						<p>
							Ce projet est né de l'esprit de quelques étudiants en Informatique de l'<a href="http://if.insa-lyon.fr/">INSA de Lyon</a> à la veille du départ en échange pour une majorité d'entre eux. Cette
							épreuve qu'est la séparation n'étant pas facile à vivre, ils ont décidé de 
							développer cette petite application permettant d'avoir une idée précise 
							(mais pas trop <a href="https://twitter.com/search?q=%23Stalking" target="_blank">#Stalking</a> 
							<a href="https://twitter.com/search?q=%23NSA" target="_blank">#NSA</a>) 
							des endroits où se trouvent leurs amis.
						</p>
						<p>
							Bon vent les IF !   <i class="material-icons">flight_takeoff</i>
						</p>
						<hr/>
						<h4>Contributeurs</h4>
						<p>
							Nous espérons que ce projet vous comblera. N'hésitez pas à nous suggérer 
							des améliorations, nous sommes évidemment ouverts à de nouvelles idées. <a href="https://twitter.com/search?q=%23IngénieurHumaniste" target="_blank">#IngénieurHumaniste</a>
						</p>
						<p>
							<a href="https://github.com/LoicTouzard" target="_blank">Loïc Touzard</a>, <a href="https://github.com/niosega" target="_blank">Nicolas Bonfante</a>, <a href="https://github.com/KevinBulme" >Kévin Bulmé</a>, <a href="https://github.com/pdautry" target="_blank">Paul Dautry</a>,<a href="https://github.com/David-Wobrock" target="_blank">David Wobrock Dautry</a> - IF 2017
						</p>
						<hr/>
						<h4 id="contribute">Contribuez !</h4>
						<p>
							Vous pouvez à tout moment forker le <a href="https://github.com/LoicTouzard/MapIf" target="_blank">dépôt</a> sur Github.<br>
							Si vous rencontrez des <strong>problèmes</strong> ou avez des <strong>propositions</strong> n'hésitez pas à créer une <a href="https://github.com/LoicTouzard/MapIf/issues" target="_blank">issue</a> sur la page du projet.
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>