<!-- About modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="about">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="about">À propos de MapIf ...</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<h4>MapIf <small>Version <span class="version">X.X.X</span></small></h4>
						<p>
							Ce projet est né de l'esprit de quelques 4IF de la promo 2017, au moment critique qu'est le 
							stage, veille du départ en échange pour une majorité d'entre eux. Cette
							épreuve qu'est la séparation n'étant pas facile à vivre, ils ont décidé de 
							développer cette petite application permettant d'avoir une idée précise 
							(mais pas trop <a href="https://twitter.com/search?q=%23Stalking" target="_blank">#Stalking</a> 
							<a href="https://twitter.com/search?q=%23NSA" target="_blank">#NSA</a>) 
							des endroits où se trouvent leurs amis et où ils
							se trouvent eux mêmes (juste en cas de perte de mémoire <a href="https://twitter.com/search?q=%23FinDeSoiréeDifficile" target="_blank">#FinDeSoiréeDifficile</a>).
						</p>
						<p>
							Bon vent les IF !
						</p>
						<hr/>
						<h4>Contributeurs</h4>
						<p>
							Nous espérons que cette petite appli vous comblera. N'hésitez pas à nous suggérer 
							des améliorations nous serons toujours disposés à vous écouter. <a href="https://twitter.com/search?q=%23IngénieurHumaniste" target="_blank">#IngénieurHumaniste</a>
						</p>
						<p>
							Si vous n'êtes pas content de cette application veuillez ne pas nous le signaler. Merci. 
							<a href="https://twitter.com/search?q=%23RaisonablementHumaniste" target="_blank">#RaisonablementHumaniste</a>
						</p>
						<p>	
							Rendez vous dans la section <a href="#contribute">Contribuer</a> si vous êtes un (vrai) IF.
							<a href="https://twitter.com/search?q=%23Geek" target="_blank">#Geek</a>
							<a href="https://twitter.com/search?q=%23Insomnie" target="_blank">#Insomnie</a>
							<a href="https://twitter.com/search?q=%23ViveLesClichés" target="_blank">#ViveLesClichés</a>
						</p>
						<ul>
							<li><a href="https://github.com/LoicTouzard" target="_blank">Loïc Touzard</a> - 4IF 2017</li>
							<li><a href="https://github.com/niosega" target="_blank">Nicolas Bonfante</a> - 4IF 2017</li>
							<li><a href="https://github.com/KevinBulme" >Kévin Bulmé</a> - 4IF 2017</li>
							<li><a href="https://github.com/pdautry" target="_blank">Paul Dautry</a> - 4IF 2017</li>
						</ul>
						<hr/>
						<h4 id="contribute">Contribuer</h4>
						<p>
							Vous pouvez à tout moment forker le <a href="https://github.com/LoicTouzard/MapIf" target="_blank">dépôt</a> sur Github.<br>
							Si vous avez <strong>des problèmes ou des propositions</strong> n'hésitez pas à créer une <a href="https://github.com/LoicTouzard/MapIf/issues" target="_blank">issue</a> pour le projet.
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>