<!-- Confirmation add position modal -->
	<div class="modal fade" id="positionModal" tabindex="-1" role="dialog" aria-labelledby="position">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="position">Définir un nouvelle position</h4>
				</div>
				<div class="modal-body">
				{% for loc in user_locations[-5:] | reverse %}
					{% if loop.first %}
					<h5>Votre position actuelle est {{ loc.location.city }} {{ loc.location.country }} depuis le {{ loc.timestamp.strftime('%d %B %Y') }}</h5>
					{% else %}
						{% if loop.last and loop.index is equalto 5 %}
					<p>...</p>
						{% else %}
					<p>Vous étiez à {{ loc.location.city }} {{ loc.location.country }} le {{ loc.timestamp.strftime('%d %B %Y') }}</p>
						{% endif %}
					{% endif %}
				{% else %}
					<p>Vous n'avez pas encore défini votre position</p>
				{% endfor %}

					<p class="well">Voulez vous ajouter <strong><span id="position-add-city">city</span> <span id="position-add-country">COUNTRY</span></strong> à votre historique de déplacement ?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button id="change-current-position-validate" type="button" class="btn btn-primary">Changer ma position actuelle</button>
				</div>
			</div>
		</div>
	</div>