<div class="modal fade" id="forgottenPasswordModal" role="dialog" aria-labelledby="password-forgotten">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<form id="form-password-forgotten">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Mot de passe oublié</h4>
				</div>
				<div class="modal-body">
					<div class="form-group label-floating">
						<label for="form-connexion-input-username" class="control-label">E-mail</label>
						<input class="form-control" id="form-password-forgotten-input-username" name="email" required="required" type="text">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary">Je veux réinitialiser mon mot de passe</button>
				</div>
			</form>
		</div>
	</div>
</div>
