<!-- connexion modal -->
	<div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="connexion">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<form id="form-connexion">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="connexion">Connexion</h4>
					</div>
					<div class="modal-body">
						<div class="form-group label-floating">
							<label for="form-connexion-input-username" class="control-label">E-mail</label>
							<input class="form-control" id="form-connexion-input-username" name="email" required="required" type="text">
							<!--<span class="help-block">Bon si vous êtes pas trop bête vous vous en souvenez...</span>-->
						</div>

						<div class="form-group label-floating">
							<label for="form-connexion-input-password" class="control-label">Mot de passe</label>
							<input class="form-control" id="form-connexion-input-password" type="password" name="password" required="required">
						</div>
						<a href="javascript:void(0)" data-dismiss="modal" data-target="#forgottenPasswordModal" data-toggle="modal">J'ai oublié mon mot de passe :(</a>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						<button type="submit" class="btn btn-primary">Se connecter</button>
					</div>
				</form>
			</div>
		</div>
	</div>
